# Question number 1

Try 5 Different functions of the String in Python.



# 1

In [10]:
txt = "Hello welcome to my world."

x = txt.index("e")

print(x)

1

# 2

In [12]:
txt = "how are you"

x = txt.split()

print(x)

['how', 'are', 'you']

# 3

In [13]:
A = "where are you going"
print(len(A))

19

# 4

In [14]:
name = "my name is krutarth"
print(name)

my name is krutarth

# 5

In [16]:
for i in "letsupgrade":
    print(i)

l
e
t
s
u
p
g
r
a
d
e

# Question number 2


Try 5 Different functions of the List object in Python



# 1

In [17]:
lst = ["banana" , "mango" ,"apple"]
print(lst)

['banana', 'mango', 'apple']

# 2

In [19]:
name = ["rahul" , "raj" , "rakesh"]
print(len(name))

3

# 3

In [21]:
lst = ["animal age" , 5 , "average human age" , 65]
print(lst)

['animal age', 5, 'average human age', 65]

# 4

In [22]:
name = ["raj" , "ravi" , "roshan"]
print(name[1])

ravi

# 5

In [29]:
lst = [1,2,3,["ravi ", 3, 3.55],3,"raj"]
lst[3][2]

3.55

# Question number 3


Experiment with at least 5 default functions of Dictionary


# 1

In [ ]:
classdetail = {"name":"krutarth", "rollnumber":10, "section ":"A"}
classdetail["name"]

# 2

In [39]:
classdetail = {"name":"krutarth", "rollnumber":10, "section ":"A"}
classdetail.get("rollnumber")

10

# 3

In [46]:
classdetail = {"name":"krutarth", "rollnumber":10, "section ":"A"}
x = classdetail["rollnumber"]
print("value of x =",x)
if (x <=10 ):
    print("section is A")
else:
    print("section is B")

value of x = 10
section is A

# 4

In [47]:
classdetail = {"name":"krutarth", "rollnumber":10, "section ":"A"}
print(len(classdetail))

3

# 5

In [56]:
classdetail = {"name":"krutarth", "rollnumber":10, "section ":"A"}
a=classdetail["name"]
x=input()
if (a != x):
    print("check different section")
else:
    print("you are in right section")

raj
check different section